
html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden; // firefox adds unneeded scrollbars
}

.player text {
    fill: white;
    text-anchor: middle;
    dominant-baseline: middle;
}

.coin {
    text {
        fill: black;
        text-anchor: middle;
        dominant-baseline: middle;
    }
    circle {
        fill: goldenrod;
    }
}
