
html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden; // firefox adds unneeded scrollbars
}

#textCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.modal {
    display: grid;
    grid-template-columns: auto 1em;
    color: white;
    position: fixed;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    height: 60%;
    padding: 1em;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */

    h1 {
        justify-content: center;
        text-align: center;
        grid-column: 1;
        grid-row: 1;
        margin-bottom: 1em;
    }

    ul.modal-content {
        grid-column: 1 / 3;
        overflow: auto;
        padding: 0 3em 0 1em;
        list-style-type: none;
        li {
            line-height: 2em;
            font-size: 1.4em;
        }
    }

    .close {
        color: white;
        float: right;
        font-size: 2em;
        font-weight: bold;
        grid-column: 2;
        grid-row: 1;
    }
    .close:hover, .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}

#controls
{
    pointer-events: none;
    right: 0;
    top: 0;
    position: absolute;
    height: 100%;
    z-index: 2;

    padding: 1em;

    display: flex;
    flex-direction: column;
    gap: 1em;

    button {
        pointer-events: auto;
        padding: 1em;
    }

    #skillInfoButton {
        position: relative;
        meter {
            position: absolute;
            left:0;
            bottom:0;
            right: 0;
            width: 100%;
        }
        meter::-webkit-meter-optimum-value {
            transition: width 3s ease;
            -webkit-transition: width 3s ease;
        }
    }
}