* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
    visibility: hidden;
}

body {
    background-color:rgb(163, 129, 98);
}

header {
    background-color:rgb(99, 202, 99);
    display: flex;
    gap: 1em;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1em;
    
    div.title {
        font-size: 30pt;
        margin: 0 auto;
    }

    button {
        font-size: 20pt;
        padding: 0.2em;
    }
}

#content {
    padding: 1em;
    button {
        margin: 1em;
        padding: 1em;
        border-radius: 0.5em;
    }
}
